/* @media (min-width:850px, max-height:1000px) {
  background-color: blue;
} */
body {
  background-color: #87ceeb;
  border: 4px solid limegreen;
  color: #ffff;
  padding: 20px 40px;
  margin: 20px;
  max-width: 850px;
  max-height: 1000px;
}

h1 {
  font-style: italic;
  font-weight: lighter;
}

h2,
ul {
  font-family: "Roboto", sans-serif;
  font-weight: 4px;
}

p {
  color: #eeeeee;
  /* clearfix hack
    overflow: auto;
    zoom: 1; */
}

img {
  float: right;
  margin: 0 0 1em 1em;
  max-width: 230px;
  max-height: 230px;
}

footer {
  color: #4acc99;
}

a {
  color: #4acc99;
}

header,
footer {
  text-align: center;
  clear: both;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 5px;
}

span {
  color: rgb(117, 117, 117);
}
