/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
:root {
  --font: "Roboto", "Source Sans Pro", "Roboto Condensed", sans-serif;
  --main-grey: rgb(99, 116, 136);
  --main-lightgrey: rgb(214, 218, 222);
  --main-darkgrey: rgb(22, 29, 37);
  --main-white: rgb(255, 255, 255);
}

body {
  /* border: 2px solid lightblue; */
  font-family: var(--font);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/******************************************
/* LAYOUT
/*******************************************/
header {
}

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************
/* On mobile, please make all sections stack  */
/* @media all and (max-width: 390px) {
  main section,
  .bottom section {
    width: 100%;
  }
} */

/* On tablet, please make the sections in main stack  */
/* @media all and (max-width: 820px) {
  main section {
    width: 100%;
  }
} */

/* On laptop, please keep the normal layout, but everything should be light green */
/* @media all and (min-width: 820px) {
  * {
    background-color: lightgreen;
  }
} */

/* On larger screens, please keep the normal layout, but everything should be light blue */
/* @media all and (min-width: 1024px) {
  * {
    background-color: lightblue;
  }
} */
