/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
:root {
  --font: "Roboto", Arial, Helvetica, sans-serif;
  --main-grey: rgb(223, 232, 238);
  --main-lightgrey: rgb(245, 249, 252);
  --main-darkgrey: rgb(49, 70, 88);
  --main-white: rgb(255, 255, 255);
}

body * {
  /* border: 2px solid lightblue; */
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/******************************************
/* LAYOUT
/*******************************************/
/* header portion */
header {
  background-color: var(--main-lightgrey);
  color: var(--main-darkgrey);
  height: 100px;
  padding-top: 1%;
  padding-left: 5px;
}
nav h3 {
  float: left;
  width: 30%;
  padding-left: 75px;
  margin-top: 0;
}
nav li {
  display: inline-block;
  width: 10%;
  float: left;
}
nav a {
  width: 30%;
  margin-left: 20%;
  background-color: var(--main-darkgrey);
  color: var(--main-white);
  padding: 1% 2%;
}

/* main portion */
main {
  background-color: var(--main-lightgrey);
  color: var(--main-darkgrey);
  clear: both;
}
section.top-left {
  float: left;
  width: 50%;
}
section.top-left {
  padding: 10%;
}
section.top-left input {
  background-color: var(--main-grey);
  font-weight: 100;
  font-size: small;
  width: 225px;
  height: 40px;
  border: none;
  padding: 4%;
}
section.top-left label {
  background-color: var(--main-darkgrey);
  color: var(--main-white);
  padding: 2.8% 4%;
  border: none;
  height: 40px;
}

section.top-right {
  float: right;
  padding-top: 5%;
}
section.top-right img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

section.bottom {
  clear: both;
  padding-left: ;
}
section.bottom section {
  float: left;
  width: 25%;
  background-color: var(--main-lightgrey);
  padding: 40px;
}

/* second section */
main + section {
  clear: both;
  width: 40%;
  padding-left: 40px;
  padding-top: 40px;
  background-color: var(--main-white);
  color: var(--main-darkgrey);
}
main + section p {
  color: rgb(134, 148, 172);
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width: 600px) {
  section {
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  section {
  }
  . {
    display: none;
  }
}
