h1 {
	color: blue;
	text-decoration: underline;
	background-color: gold;
}

h2 {
	color: purple;
	text-decoration: bold;
	font-size: 25px;
	border: 2px solid orange;
}

section {
	width: 50%;
	height: 200px;
	background-color: grey;
	border: 2px solid black;
	color: white;
}

footer {
	background-color: black;
	border: 2px solid lightgreen;
	color: white;
	font-size: 20px;
	font-family: "Roboto", sans-serif;
}
