/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body * {
  /* border: 2px solid lightblue; */
  font-family: "Roboto", sans-serif;
}
p,
span {
  color: grey;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
nav ul li a,
input {
  color: grey;
}
h1,
h2 {
  font-weight: 900;
}

/* resize image appropriately */
img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

/* nav bar */
nav * {
  font-size: 1.2rem;
  font-weight: 100;
}
nav > ul > li.small a {
  font-size: smaller;
}
header > nav > ul {
  padding-inline-start: 20px;
}
header > nav > ul li {
  padding-top: 12px;
  margin-right: 4px;
}

/* main */
main {
  margin-top: 16px;
}
main > h1 {
  font-size: 1.9rem;
  margin-bottom: 5px;
  margin-top: 0;
}
main > span {
  font-size: 1.1rem;
  font-weight: 100;
}
main > h5 {
  margin-top: 8px;
  margin-bottom: 5px;
  font-weight: 400;
}

/* aside */
aside li {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
  margin-right: 5%;
}
aside h2 {
  margin-bottom: 5px;
  font-size: 1.3rem;
  padding-right: 1rem;
}
aside li.remove-line {
  border-bottom: none;
}
aside li.grey * {
  color: rgb(125, 125, 125);
}
aside span {
  font-size: smaller;
}

/* bottom section */
section > h3 {
  border-bottom: 1px solid rgba(211, 211, 211, 0.375);
  padding-bottom: 10px;
}
section > section * {
  margin-top: 0;
}
section section {
  padding-right: 5%;
}
section p {
  padding-right: 5%;
  font-weight: 100;
}
section img {
  padding-right: 2%;
}
section h2 {
  margin-bottom: 0;
}
section h5 {
  margin: 5px 0;
}
section span {
  font-weight: 100;
  font-size: small;
}
/******************************************
/* LAYOUT
/*******************************************/
/* Top portion of the page */
header,
main,
aside {
  height: 600px;
  float: left;
  width: 15%;
}
main {
  width: 50%;
}
aside {
  width: 35%;
}

input {
  width: 100%;
  border: none;
}

/* Bottom section of the page */
section {
  clear: both;
  height: 150px;
}
aside + section {
  padding-left: 15%;
}

section section,
p,
section img {
  /* clear: both; */
  float: left;
  width: 30%;
  margin: 0px;
}
section p {
  width: 38%;
}
section img {
  width: 32%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width: 600px) {
  section {
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  section {
  }
  . {
    display: none;
  }
}
