/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
@font-face {
  font-family: "ReithSans";
  src: url(./9038-BBCReithSans_Rg.e3c4ef29\ 2.ttf);
}

:root {
  --bbc-font: "ReithSans", Arial, Helvetica, sans-serif;
  --bbc-font-legacy: Arial, Helvetica, sans-serif;
}

body * {
  border: 2px solid lavenderblush;
  font-family: "ReithSans";
}

/******************************************
/* LAYOUT
/*******************************************/
/* Head of the page - header */
header {
  height: 100px;
  background-color: black;
  color: white;
}
h2 {
  float: left;
  width: 50%;
}
main h2 + h2 {
  padding-left: 40%;
}
nav * {
  float: left;
  width: 10%;
  color: white;
  display: block;
}
nav ul {
  list-style: none;
  width: 70%;
}
nav input {
  width: 100%;
}

/* Middle of the page - main */
main > section {
  border: 2px solid blue;
  height: 400px;
  float: left;
  width: 50%;
}
main > h2 {
  border: 2px solid green;
  height: 20px;
  /* float: left; */
  /* width: 50%;
  clear: both; */
}
main > section > section {
  border: 2px solid gold;
  height: 200px;
  float: left;
  width: 50%;
}

/* Bottom of the page - News section */
main + section > section {
  height: 300px;
  border: 5px solid red;
  float: left;
  width: 33%;
}
main + section > h2 {
  clear: both;
  width: 100%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width: 600px) {
  section {
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  section {
  }
  . {
    display: none;
  }
}
