/* Please make the anchor tags gold, 20px, and have a purple background */
a {
  color: gold;
  font-size: 20px;
  background-color: purple;
}

/* Please make the section have a height of 200px, a 10px thick blue border, and a light orange background */
section {
  height: 200px;
  border: 10px solid thick blue;
  background-color: lightsalmon;
}

/* Please make the aside have a height of 300px, a thin red border, and a teal background  */
aside {
  height: 300px;
  border: 2px solid thin red;
  background-color: teal;
}

/* Please make the aside paragraph have white text, 18px, and a red underline */
aside {
  color: white;
  font-size: 18px;
  text-decoration: underline red;
}
