/* Please give the h1 some padding on three sides, margin on just one side, and a light purple background with light blue lettering */
h1 {
  padding: 0 10px 10px 10px;
  margin: 50px 0 0 0;
  background-color: lavender;
  color: lightblue;
}

/* Please give the h2 significant padding on the top and bottom, a dark green border on the top and bottom, and an orange background */
h2 {
  padding: 100px 0;
  border-top: 5px solid green;
  border-bottom: 5px solid green;
  background-color: orange;
}

/* Please give the section a thick blue border, height of 300px, and more the 400px of margin on the top */
section {
  border: 10px solid blue;
  height: 300px;
  margin-top: 400px;
}

/* Please make the spans have thin yellow borders and equal padding / margin on all sides */
span {
  border: 1px solid yellow;
  padding: 20px;
  margin: 20px;
}
